body{
  height:100vh;
}

.sidenav{
  visibility:visible;
  transform:translateX(0) !important;
  width: 170px !important;
}

.main{
  height: 100vh;
  width : calc (100vw - 200px);
  display: flex;
  margin-left:20vh;

}

